# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*__pycache__*
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Env
myenv/
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# JetBrains
.idea/

# Build
build/
dist/
site/
